<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.aksu.tools.tgs.contribution1">
            
            <visibility>
	             <or> 
		             <objectState name="name" value="*.xslt"> </objectState> 
		             <objectState name="name" value="*.xsl"> </objectState> 
	             </or> 
             </visibility>
         <action
               class="com.aksu.tools.tgs.popup.actions.UploadAction"
               enablesFor="*"
               id="com.aksu.tools.tgs.uploadToDEVAction"
               icon="icons/upload_tgs.jpg"
               label="Upload to TGS"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aksu.tools.tgs.commands.textifyCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aksu.tools.tgs.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.aksu.tools.tgs.commands.category"
            id="com.aksu.tools.tgs.commands.textifyCommand"
            name="XSL Textify">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aksu.tools.tgs.handlers.TextifyHandler"
            commandId="com.aksu.tools.tgs.commands.textifyCommand">
      </handler>
   </extension>

</plugin>
