<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.aksu.tools.tgs.contribution1">
            
            <visibility>
	             <or> 
		             <objectState name="name" value="*.xslt"> </objectState> 
		             <objectState name="name" value="*.xsl"> </objectState> 
	             </or> 
             </visibility>
         <action
               class="com.aksu.tools.tgs.popup.actions.UploadAction"
               enablesFor="*"
               id="com.aksu.tools.tgs.uploadToDEVAction"
               icon="icons/upload_tgs.jpg"
               label="Upload to TGS"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
