<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="com.aksu.tools.tgs.contribution1">
            
            <visibility>
	             <or> 
		             <objectState name="name" value="*.xslt"> </objectState> 
		             <objectState name="name" value="*.xsl"> </objectState> 
	             </or> 
             </visibility>
         <menu
               label="MyTools"
               path="additions"
               id="com.aksu.tools.tgs.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Upload to DEV"
               class="com.aksu.tools.tgs.popup.actions.UploadAction"
               menubarPath="com.aksu.tools.tgs.menu1/group1"
               enablesFor="1"
               id="com.aksu.tools.tgs.uploadToDEVAction">
         </action>
         <action
               class="com.aksu.tools.tgs.popup.actions.UploadAction"
               enablesFor="1"
               id="com.aksu.tools.tgs.uploadToTESTAction"
               label="Upload to TEST"
               menubarPath="com.aksu.tools.tgs.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
